Django==4.2.7
Pillow
psycopg2-binary
python-decouple
dj-database-url
python-dotenv
python-dateutil
gunicorn
django-crispy-forms
crispy-bootstrap5
django-bootstrap5
django-extensions
django-import-export
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-guardian
django-environ
whitenoise
openpyxl
numpy
pytz
requests
urllib3
certifi
idna
charset-normalizer
sqlparse
asgiref