Django==4.2.7
psycopg2-binary
django-crispy-forms
crispy-bootstrap5
django-bootstrap5
django-extensions
django-import-export
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-guardian
django-environ
whitenoise
openpyxl
numpy
pytz
requests
urllib3
certifi
idna
charset-normalizer
sqlparse
asgiref